# Database
POSTGRES_USER="your_placeholder_here"
POSTGRES_PASSWORD="your_placeholder_here"
POSTGRES_DB="your_placeholder_here"

# Redis
REDIS_PASSWORD="YOUR_REDIS_PASSWORD"

# Kafka
KAFKA_BROKERS="your_placeholder_here"
KAFKA_ZOOKEEPER="your_placeholder_here"

# Service Ports
AUTH_PORT="your_placeholder_here"
USER_PORT="your_placeholder_here"
COURSE_PORT="your_placeholder_here"
AI_PORT="your_placeholder_here"
PAYMENT_PORT="your_placeholder_here"

JWT_SECRET="your_placeholder_here"

DATABASE_URL="postgres://avnadmin:YOUR_PASSWORD@your-host.aivencloud.com:14892/defaultdb?sslmode=require"

REDIS_HOST="your_placeholder_here"
REDIS_PORT="your_placeholder_here"
REDIS_USER="your_placeholder_here"
REDIS_URL="redis://default:YOUR_PASSWORD@your-redis-host:16483"

REDIS_USERNAME="your_placeholder_here"

B2_KEY_ID="your_placeholder_here"
B2_APPLICATION_KEY="your_placeholder_here"
B2_BUCKET_NAME="your_placeholder_here"
B2_ENDPOINT="your_placeholder_here"
B2_REGION="your_placeholder_here"
