DATABASE_URL="your_placeholder_here"
JWT_SECRET="your_placeholder_here"
PORT="your_placeholder_here"
NODE_ENV="your_placeholder_here"
LOG_LEVEL="your_placeholder_here"
TOPIC_CACHE_TTL="your_placeholder_here"
REDIS_HOST="your_placeholder_here"
REDIS_PORT="your_placeholder_here"
REDIS_USER="your_placeholder_here"
REDIS_PASSWORD="your_placeholder_here"
REDIS_URL="your_placeholder_here"

REDIS_USERNAME="your_placeholder_here"

B2_KEY_ID="your_placeholder_here"
B2_APPLICATION_KEY="your_placeholder_here"
B2_BUCKET_NAME="your_placeholder_here"
B2_ENDPOINT="your_placeholder_here"
B2_REGION="your_placeholder_here"
